<div class="modal" id="loadFileModal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Files</p>
				<button class="delete" aria-label="close" ng-click="vm.cancel('#loadFileModal')"></button>
			</header>
			<div class="modal-card-body">
				<table class="table is-hoverable is-fullwidth word-break">
					<thead>
						<tr>
							<td>ID</td>
							<td>Filename</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in vm.files" ng-click="vm.loadCloud(file)">
							<td>{{file.id}}</td>
							<td>{{file.filename}}</td>
						</tr>
					</tbody>
				</table>
				<div class="columns">
					<div class="column has-text-right">
						<button class="button" ng-click="vm.cancel('#loadFileModal')">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>